body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body .myimg{
    display: block;
    width: 550px;
    height: 350px;
    shape-image-threshold: unset;
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
    transition: all ease-in 0.5s;
}
body h1{
    color: rgb(141, 103, 14);
    font-size: 40px;
    text-shadow: 2px 1px 10px rgb(58, 48, 7);
    margin-top: 20px;
}
body a .btn{
    background-color: #3f3825; /* Green */
    border: none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  opacity: 70%;
}
body a .btn:hover{
    background: fixed;
    background-color: beige;
}
body a .bbtn{
    background-color: #463811; /* Green */
    border: none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  right: 25px;
  opacity: 60%;
}
body a .bbtn:hover{
    background-color: bisque;
}
body h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
    text-shadow: 5px 5px 6px #1f1e1d;
}